<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Agregar empresa</p>
    <!-- Name input -->
    <input
      type="text"
      placeholder="Nombre de la empresa"
      formControlName="name"
    />
    <i class="fa fa-building"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *El nombre de la empresa es requerido.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="text"
      placeholder="Logo de la empresa"
      formControlName="logo"
      class="inputLogo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <button type="submit">Agregar</button>
  </form>
</div>
