<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Add company</p>
    <!-- Name input -->
    <input type="text" placeholder="Company name" formControlName="name" />
    <i class="fa fa-building"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *Company name is required.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="text"
      accept="image/*"
      (change)="uploadPhoto($event)"
      placeholder="Company logo"
      formControlName="logo"
      class="inputLogo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <button type="submit">Add</button>
  </form>
</div>
