<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Add academic institution</p>
    <!-- Name input -->
    <input
      type="text"
      placeholder="Name of the academic institution"
      formControlName="name"
    />
    <i class="fa fa-university"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *The name of the academic institution is required.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="text"
      accept="image/*"
      (change)="uploadPhoto($event)"
      placeholder="Academic institution logo"
      formControlName="logo"
      class="inputLogo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <button type="submit">Add</button>
  </form>
</div>
