<div class="modal">
  <div class="containerForm">
    <form [formGroup]="form" (ngSubmit)="onSignup($event)">
      <!-- Signup User Data -->
      <p class="title">Create an account</p>
      <!-- User input -->
      <input type="text" placeholder="Username" formControlName="username" />
      <i class="fa fa-user"></i>
      <!-- User validation error -->
      <div *ngIf="Username?.errors && (Username?.touched || Username?.dirty)">
        <p *ngIf="Username?.hasError('required')" class="error">
          *Username is required.
        </p>
        <p
          *ngIf="
            Username?.hasError('minlength') || Username?.hasError('maxlength')
          "
          class="error"
        >
          *Username must have between 5 to 12 characters.
        </p>
      </div>
      <!-- Email input -->
      <input type="email" placeholder="Email" formControlName="email" />
      <i class="fa fa-at"></i>
      <!-- Email validation error -->
      <div *ngIf="Email?.errors && (Email?.touched || Email?.dirty)">
        <p *ngIf="Email?.hasError('required')" class="error">
          *Email is required.
        </p>
        <p *ngIf="Email?.hasError('email')" class="error">
          *Email format must be valid.
        </p>
      </div>
      <!-- Password input -->
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <i class="fa fa-key"></i>
      <!-- Password validation error -->
      <div *ngIf="Password?.errors && (Password?.touched || Password?.dirty)">
        <p *ngIf="Password?.hasError('required')" class="error">
          *Password is required.
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="error">
          *Password must have at least 8 characters.
        </p>
      </div>
      <!-- Signup Person Data -->
      <!-- First_name input -->
      <input
        type="text"
        placeholder="First Name"
        formControlName="first_name"
      />
      <i class="fa fa-user"></i>
      <!-- First_name validation error -->
      <div
        *ngIf="First_name?.errors && (First_name?.touched || First_name?.dirty)"
      >
        <p *ngIf="First_name?.hasError('required')" class="error">
          *First Name is required.
        </p>
        <p *ngIf="First_name?.hasError('minlength')" class="error">
          *First Name must have at least 3 characters.
        </p>
      </div>
      <!-- Last_name input -->
      <input type="text" placeholder="Last Name" formControlName="last_name" />
      <i class="fa fa-user"></i>
      <!-- Last_name validation error -->
      <div
        *ngIf="Last_name?.errors && (Last_name?.touched || Last_name?.dirty)"
      >
        <p *ngIf="Last_name?.hasError('required')" class="error">
          *Last name is required.
        </p>
        <p *ngIf="Last_name?.hasError('minlength')" class="error">
          *Last Name must have at least 3 characters.
        </p>
      </div>
      <p>Do you have an account? <a routerLink="/signin">Sign in</a></p>
      <p>Go to <a routerLink="/home">Home</a></p>
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
