<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Modificar experiencia</p>
    <!-- Name input -->
    <input type="text" placeholder="Nombre del puesto" formControlName="name" />
    <i class="fa fa-plus-circle"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *El nombre del puesto es requerido.
      </p>
    </div>
    <!-- Company input -->
    <input
      type="number"
      placeholder="Nombre de la empresa"
      formControlName="company"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Descripción del puesto"
      formControlName="description"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *La descripción es requerida.
      </p>

      <p *ngIf="Description?.hasError('minlength')" class="error">
        *La descripción debe tener al menos 10 caracteres.
      </p>
      <p *ngIf="Description?.hasError('maxlength')" class="error">
        *La descripción no puede tener más de 250 caracteres.
      </p>
    </div>
    <!-- Start_date input -->
    <input
      type="date"
      placeholder="Año de servicio"
      formControlName="start_date"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Start_date validation error -->
    <div
      *ngIf="Start_date?.errors && (Start_date?.touched || Start_date?.dirty)"
    >
      <p *ngIf="Start_date?.hasError('required')" class="error">
        *La fecha de inicio es requerida.
      </p>
    </div>
    <!-- End_date input -->
    <input
      type="date"
      placeholder="Año de servicio"
      formControlName="end_date"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- End_date validation error -->
    <div *ngIf="End_date?.errors && (End_date?.touched || End_date?.dirty)">
      <p *ngIf="End_date?.hasError('required')" class="error">
        *La fecha de finalización es requerida.
      </p>
    </div>
    <button type="submit">Modificar</button>
  </form>
</div>
