<!-- Add Company Modal -->
<div class="modal" *ngIf="showAddCompany">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddCompany()"></i>
    <app-company></app-company>
  </div>
</div>
<!-- Update Experience Form -->
<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Modificar experiencia</p>
    <!-- Name input -->
    <input type="text" placeholder="Nombre del cargo" formControlName="name" />
    <i class="fa fa-briefcase"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *El nombre del cargo es requerido.
      </p>
    </div>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Descripción del cargo"
      formControlName="description"
    />
    <i class="fa fa-file-alt"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *La descripción es requerida.
      </p>

      <p *ngIf="Description?.hasError('minlength')" class="error">
        *La descripción debe tener al menos 10 caracteres.
      </p>
      <p *ngIf="Description?.hasError('maxlength')" class="error">
        *La descripción no puede tener más de 250 caracteres.
      </p>
    </div>
    <!-- Add Company  -->
    <p class="subNote" (click)="toggleAddCompany()">
      Si la empresa no está en la lista, agrégala
      <i class="fas fa-plus iconNote"></i>
    </p>

    <!-- Company select -->
    <select formControlName="company">
      <option [ngValue]="null" disabled>Selecciona una empresa</option>
      <option *ngFor="let company of companyList" [ngValue]="company.id">
        {{ company.name }}
      </option>
    </select>
    <i class="fa fa-building"></i>
    <!-- Company validation error -->
    <div *ngIf="Company?.errors && (Company?.touched || Company?.dirty)">
      <p *ngIf="Company?.hasError('required')" class="error">
        *Debes seleccionar una empresa.
      </p>
    </div>
    <!-- Start_date input -->
    <input
      type="text"
      placeholder="Fecha de inicio"
      formControlName="start_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- Start_date validation error -->
    <div
      *ngIf="Start_date?.errors && (Start_date?.touched || Start_date?.dirty)"
    >
      <p *ngIf="Start_date?.hasError('required')" class="error">
        *La fecha de inicio es requerida.
      </p>
    </div>
    <!-- End_date input -->
    <input
      type="text"
      placeholder="Fecha de finalización"
      formControlName="end_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- End_date validation error -->
    <div *ngIf="End_date?.errors && (End_date?.touched || End_date?.dirty)">
      <p *ngIf="End_date?.hasError('required')" class="error">
        *La fecha de finalización es requerida.
      </p>
    </div>
    <button type="submit">Modificar</button>
  </form>
</div>
