<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Create technology</p>
    <p class="subTitle">
      Create a technology that is not available in the add function
      <i class="fas fa-plus iconAddTechnologyToPerson"></i>
    </p>
    <!-- Name input -->
    <input type="text" placeholder="Technology name" formControlName="name" />
    <i class="fa fa-laptop-code"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *Technology name is required.
      </p>
    </div>
    <!-- Category input -->
    <select formControlName="category">
      <option value="" disabled>Select a category</option>
      <option *ngFor="let category of categories" [ngValue]="category.value">
        {{ category.name }}
      </option>
    </select>
    <i class="fa fa-layer-group"></i>
    <!-- Category validation error -->
    <div *ngIf="Category?.errors && (Category?.touched || Category?.dirty)">
      <p *ngIf="Category?.hasError('required')" class="error">
        *You must select a category.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="text"
      accept="image/*"
      (change)="uploadPhoto($event)"
      placeholder="Technology logo"
      formControlName="logo"
      class="inputLogo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <!-- Url input -->
    <input
      type="text"
      placeholder="Link to technology page"
      formControlName="url"
    />
    <i class="fa fa-link"></i>
    <button type="submit">Create</button>
  </form>
</div>
