form {
  max-width: 400px;
}

form .title {
  margin: 10px 0;
}

.subTitle {
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  padding: 7px;
}

.iconAddTechnologyToPerson {
  padding: 5px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 150px;
  color: rgb(119, 178, 85);
  background-color: rgb(0, 0, 0, 0.05);
  transition: all 0.5s ease-out;
}
