<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Update profile</p>
    <!-- First_name input -->
    <input type="text" placeholder="First name" formControlName="first_name" />
    <i class="fa fa-user"></i>
    <!-- First_name validation error -->
    <div
      *ngIf="First_name?.errors && (First_name?.touched || First_name?.dirty)"
    >
      <p *ngIf="First_name?.hasError('required')" class="error">
        *First name is required.
      </p>
      <p *ngIf="First_name?.hasError('minlength')" class="error">
        *First name must have at least 3 characters.
      </p>
    </div>
    <!-- Last_name input -->
    <input type="text" placeholder="Last name" formControlName="last_name" />
    <i class="fa fa-user"></i>
    <!-- Last_name validation error -->
    <div *ngIf="Last_name?.errors && (Last_name?.touched || Last_name?.dirty)">
      <p *ngIf="Last_name?.hasError('required')" class="error">
        *Last name is required.
      </p>
      <p *ngIf="Last_name?.hasError('minlength')" class="error">
        *Last name must have at least 3 characters.
      </p>
    </div>
    <!-- Nationality input -->
    <input
      type="text"
      placeholder="Nationality"
      formControlName="nationality"
    />
    <i class="fa fa-flag"></i>
    <!-- Nationality validation error -->
    <div
      *ngIf="
        Nationality?.errors && (Nationality?.touched || Nationality?.dirty)
      "
    >
      <p *ngIf="Nationality?.hasError('required')" class="error">
        *Nationality is required.
      </p>
    </div>

    <!-- Profession input -->
    <input type="text" placeholder="Profession" formControlName="profession" />
    <i class="fa fa-user-tie"></i>
    <!-- Profession validation error -->
    <div
      *ngIf="Profession?.errors && (Profession?.touched || Profession?.dirty)"
    >
      <p *ngIf="Profession?.hasError('required')" class="error">
        *Profession is required.
      </p>
    </div>
    <!-- About input -->
    <input type="text" placeholder="About" formControlName="about" />
    <i class="fa fa-address-card"></i>
    <!-- About validation error -->
    <div *ngIf="About?.errors && (About?.touched || About?.dirty)">
      <p *ngIf="About?.hasError('required')" class="error">
        *About is required.
      </p>

      <p *ngIf="About?.hasError('minlength')" class="error">
        *About must have at least 10 characters.
      </p>
      <p *ngIf="About?.hasError('maxlength')" class="error">
        *About can't be longer than 250 characters.
      </p>
      <p *ngIf="About?.hasError('pattern')" class="error">
        *About can't be empty.
      </p>
    </div>
    <button type="submit">Update</button>
  </form>
</div>
