<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Modificar perfil</p>
    <!-- First_name input -->
    <input type="text" placeholder="Nombre" formControlName="first_name" />
    <i class="fa fa-user"></i>
    <!-- First_name validation error -->
    <div
      *ngIf="First_name?.errors && (First_name?.touched || First_name?.dirty)"
    >
      <p *ngIf="First_name?.hasError('required')" class="error">
        *El nombre es requerido.
      </p>
      <p *ngIf="First_name?.hasError('minlength')" class="error">
        *El nombre debe tener al menos 3 caracteres.
      </p>
    </div>
    <!-- Last_name input -->
    <input type="text" placeholder="Apellido" formControlName="last_name" />
    <i class="fa fa-user"></i>
    <!-- Last_name validation error -->
    <div *ngIf="Last_name?.errors && (Last_name?.touched || Last_name?.dirty)">
      <p *ngIf="Last_name?.hasError('required')" class="error">
        *El apellido es requerido.
      </p>
      <p *ngIf="Last_name?.hasError('minlength')" class="error">
        *El apellido debe tener al menos 3 caracteres.
      </p>
    </div>
    <!-- Nationality input -->
    <input
      type="text"
      placeholder="Nacionalidad"
      formControlName="nationality"
    />
    <i class="fa fa-flag"></i>
    <!-- Nationality validation error -->
    <div
      *ngIf="
        Nationality?.errors && (Nationality?.touched || Nationality?.dirty)
      "
    >
      <p *ngIf="Nationality?.hasError('required')" class="error">
        *La nacionalidad es requerida.
      </p>
    </div>

    <!-- Profession input -->
    <input type="text" placeholder="Profesión" formControlName="profession" />
    <i class="fa fa-user-tie"></i>
    <!-- Profession validation error -->
    <div
      *ngIf="Profession?.errors && (Profession?.touched || Profession?.dirty)"
    >
      <p *ngIf="Profession?.hasError('required')" class="error">
        *La profesión es requerida.
      </p>
    </div>
    <!-- About input -->
    <input type="text" placeholder="Acerca de" formControlName="about" />
    <i class="fa fa-address-card"></i>
    <!-- About validation error -->
    <div *ngIf="About?.errors && (About?.touched || About?.dirty)">
      <p *ngIf="About?.hasError('required')" class="error">
        *El campo "acerca de" es requerido.
      </p>

      <p *ngIf="About?.hasError('minlength')" class="error">
        *El campo "acerca de" debe tener al menos 10 caracteres.
      </p>
      <p *ngIf="About?.hasError('maxlength')" class="error">
        *El campo "acerca de" no puede tener más de 250 caracteres.
      </p>
      <p *ngIf="About?.hasError('pattern')" class="error">
        *El campo no puede contener solo espacios vacíos.
      </p>
    </div>

    <button type="submit">Modificar</button>
  </form>
</div>
