<!-- Header -->
<header class="containerHeader">
  <div class="containerLogoAP">
    <img
      class="logoAP"
      src="../../../assets/logos/logoAP.png"
      alt="Logo Argentina Programa"
    />
    <img
      class="logoMMG"
      src="../../../assets/logos/logoMMG.png"
      alt="Logo MMG"
    />
  </div>
  <nav>
    <ul>
      <li>
        <a href="https://www.linkedin.com/" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/mgmaxi" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
      </li>
      <li>
        <a routerLink="/login">
          <button>Iniciar sesión</button>
        </a>
      </li>
    </ul>
  </nav>
</header>
