/* Header */

header {
  height: 75px;
  background-color: #000;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerLogoAP {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
}

.logoAP {
  margin: 0 10px 0 0;
  height: 150px;
  width: 150px;
}

.logoMMG {
  height: 60px;
  width: 60px;
}

header.containerHeader > nav > ul {
  margin: 0 10px 0 0;
}

header.containerHeader > nav > ul > li {
  display: inline-block;
  margin: 0 5px;
  list-style-type: none;
}
header.containerHeader > nav > ul > li:active {
  background-color: rgb(0, 0, 0);
}

nav > ul > li > a > button {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255, 0.4);
}

nav > ul > li > a > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav > ul > li > a > button:active {
  background-color: rgb(0, 0, 0);
}

nav > ul > li > a > i {
  transition: all 0.3s ease;
}

nav > ul > li > a > i:hover {
  transform: rotate(18deg);
}
