<!-- Header -->
<header>
  <div class="logos">
    <a
      href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
      target="_blank"
    >
      <img
        class="logoAP"
        src="../../../assets/logos/logoAP.png"
        alt="Logo Argentina Programa"
      />
    </a>
    <a routerLink="/portfolio">
      <img
        class="logoMMG"
        src="../../../assets/logos/logoMMG.png"
        alt="Logo MMG"
      />
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/home">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/portfolio/', username]">
          <span>Portfolio</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="login">
    <ul>
      <li *ngIf="!isLogged">
        <a routerLink="/signin">
          <button>Sign in</button>
        </a>
      </li>
      <li *ngIf="isLogged" (click)="onLogOut()">
        <a>
          <button>Sign out</button>
        </a>
      </li>
    </ul>
  </div>
  <app-menu class="menu-wrap"></app-menu>
</header>
