<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Update cover photo</p>
    <!-- Cover_photo input -->
    <input
      type="text"
      accept=".png, .jpg, .jpeg"
      (change)="uploadPhoto($event)"
      placeholder="Cover photo"
      class="inputLogo"
      formControlName="cover_photo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <!-- Cover_photo validation error -->
    <div
      *ngIf="
        Cover_photo?.errors && (Cover_photo?.touched || Cover_photo?.dirty)
      "
    >
      <p *ngIf="Cover_photo?.hasError('required')" class="error">
        *Cover photo is required.
      </p>
    </div>
    <button type="submit">Update</button>
  </form>
</div>
