<!-- Add Experience Modal  -->
<div class="modal" *ngIf="showForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleForm()"></i>
    <app-form-add-experience
      (onAddExperience)="addExperience($event)"
    ></app-form-add-experience>
  </div>
</div>
<!-- Experience -->
<div class="containerSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Experiencia</h2>
    <i class="fas fa-plus iconAdd" (click)="toggleForm()"></i>
    <i class="fas fa-trash iconDeleteSection"></i>
    <!-- Experience List -->
    <div *ngFor="let experience of experienceList" class="containerSectionItem">
      <img
        class="logoSection"
        [src]="experience.company.logo"
        alt="Logo de la sección"
      />
      <section class="containerSectionItemData">
        <h3>
          {{ experience.name }}
          {{ experience.company.name ? "en " + experience.company.name : "" }}
        </h3>
        <p>{{ experience.description }}</p>
        <p class="textSmall">Fecha de inicio: {{ experience.start_date }}</p>
        <p class="textSmall">
          Fecha de finalización: {{ experience.end_date }}
        </p>
        <i class="fas fa-trash iconDelete" (click)="deleteItem(experience)"></i>
        <i class="fas fa-pencil-alt iconEdit"></i>
        <i class="far fa-trash-alt" (click)="deleteItem(experience)"></i>
      </section>
    </div>
  </section>
</div>
