<!-- Add Experience Modal  -->
<div class="modal" *ngIf="showAddForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddForm()"></i>
    <app-form-add-experience
      (onAddExperience)="addExperience($event)"
    ></app-form-add-experience>
  </div>
</div>
<!-- Update Experience Modal  -->
<div class="modal" *ngIf="showUpdateForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleUpdateForm()"></i>
    <app-form-update-experience
      (onUpdateExperience)="updateExperience($event)"
      [currentExperienceForm]="currentExperience"
    ></app-form-update-experience>
  </div>
</div>
<!-- Experience -->
<div class="containerSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Experience</h2>
    <i
      class="fas fa-plus iconAdd"
      (click)="toggleAddForm()"
      *ngIf="isAdmin"
    ></i>
    <i
      class="fas fa-trash iconDeleteSection"
      (click)="deleteAllExperiencesFromPerson()"
      *ngIf="isAdmin"
    ></i>
    <!-- Experience List -->
    <div *ngFor="let experience of experienceList" class="containerSectionItem">
      <img
        class="logoSection"
        [src]="
          experience.company.logo === null ||
          experience.company.logo === undefined ||
          !experience.company.logo.trim()
            ? company_logo
            : experience.company.logo
        "
        alt="Logo de la sección"
      />
      <section class="containerSectionItemData">
        <h3>
          {{ experience.name }}
          {{ experience.company.name ? "in " + experience.company.name : "" }}
        </h3>
        <p>{{ experience.description }}</p>
        <p class="textSmall">
          Start date: {{ experience.start_date | date: "dd/MM/yyyy" }}
        </p>
        <p class="textSmall">
          End date:
          {{
            experience.end_date != null
              ? (experience.end_date | date: "dd/MM/yyyy")
              : "present"
          }}
        </p>
        <i
          class="fas fa-pencil-alt iconEdit"
          (click)="toggleUpdateForm(experience)"
          *ngIf="isAdmin"
        ></i>
        <i
          class="fas fa-trash iconDelete"
          (click)="deleteExperience(experience)"
          *ngIf="isAdmin"
        ></i>
      </section>
    </div>
  </section>
</div>
