<div class="modal">
  <div class="containerForm">
    <form [formGroup]="form" (ngSubmit)="onLogin($event)">
      <p class="title">Sign in</p>
      <!-- User input -->
      <input type="text" placeholder="Username" formControlName="username" />
      <i class="fa fa-user"></i>
      <!-- User validation error -->
      <div *ngIf="Username?.errors && (Username?.touched || Username?.dirty)">
        <p *ngIf="Username?.hasError('required')" class="error">
          *Username is required.
        </p>
        <p
          *ngIf="
            Username?.hasError('minlength') || Username?.hasError('maxlength')
          "
          class="error"
        >
          *Username must have between 5 to 12 characters.
        </p>
      </div>
      <!-- Password input -->
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <i class="fa fa-key"></i>
      <!-- Password validation error -->
      <div *ngIf="Password?.errors && (Password?.touched || Password?.dirty)">
        <p *ngIf="Password?.hasError('required')" class="error">
          *Password is required.
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="error">
          *Password must have at least 8 characters.
        </p>
      </div>
      <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
      <p>Go to <a routerLink="/home">Home</a></p>
      <button type="submit">Sign in</button>
    </form>
  </div>
</div>
