<!-- Add Project Modal -->
<div class="modal" *ngIf="showAddForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddForm()"></i>
    <app-form-add-project
      (onAddProject)="addProject($event)"
    ></app-form-add-project>
  </div>
</div>
<!-- Update Project Modal -->
<div class="modal" *ngIf="showUpdateForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleUpdateForm()"></i>
    <app-form-update-project
      (onUpdateProject)="updateProject($event)"
      [currentProjectForm]="currentProject"
    ></app-form-update-project>
  </div>
</div>
<!-- Projects -->
<div class="containerSection" *ngIf="showProjectSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Proyectos</h2>
    <i
      class="fas fa-plus iconAdd"
      (click)="toggleAddForm()"
      *ngIf="isAdmin"
    ></i>
    <i
      class="fas fa-trash iconDeleteSection"
      (click)="deleteAllProjectsFromPerson()"
      *ngIf="isAdmin"
    ></i>
    <!-- Projects List -->
    <div *ngFor="let project of projectList" class="containerSectionItem">
      <img class="logoSection" [src]="project.logo" alt="Logo del proyecto" />
      <article class="containerSectionItemData">
        <a [href]="project.deploy" target="_blank"
          ><h3>{{ project.name }}</h3></a
        >
        <div>
          <p>{{ project.description }}</p>
          <p class="textSmall">
            Fecha de realización:
            {{ project.end_date }}
          </p>
          <span class="containerProjectLinks">
            <a [href]="project.repository" target="_blank"
              ><i class="fab fa-github"></i>
              Repositorio
            </a>
            <a [href]="project.deploy" target="_blank"
              ><i class="fas fa-rocket"></i> Despliegue</a
            >
          </span>
        </div>
        <i
          class="fas fa-trash iconDelete"
          (click)="deleteItem(project)"
          *ngIf="isAdmin"
        ></i>
        <i
          class="fas fa-pencil-alt iconEdit"
          (click)="toggleUpdateForm(project)"
          *ngIf="isAdmin"
        ></i>
      </article>
    </div>
  </section>
</div>
