<!-- Projects -->
<div class="containerSection">
  <section class="containerSectionData">
    <h2>Proyectos</h2>
    <div *ngFor="let project of projectList" class="containerSectionItem">
      <img class="logoSection" [src]="project.logo" alt="Logo del proyecto" />
      <article class="containerSectionItemData">
        <a [href]="project.deploy" target="_blank"
          ><h3>{{ project.title }}</h3></a
        >
        <div>
          <p>{{ project.technologies }}</p>
          <p class="textSmall">
            Fecha de realización:
            {{ project.year | date: "y" }}
          </p>
          <span class="containerProjectLinks">
            <a [href]="project.repository" target="_blank"
              ><i class="fab fa-github"></i>
              Repositorio
            </a>
            <a [href]="project.deploy" target="_blank"
              ><i class="fas fa-rocket"></i> Despliegue</a
            >
          </span>
        </div>
        <i class="far fa-trash-alt iconDelete"></i>
        <i class="fas fa-pencil-alt iconEdit"></i>
      </article>
    </div>
    <i class="fas fa-plus iconAdd"></i>
  </section>
</div>
