main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 70px;
  padding: 0 7px;
  overflow-x: hidden;
}

section > h2 {
  text-align: center;
  font-size: 28px;
}

.aboutApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 350px;
  max-width: 750px;
  height: calc(100vh - 75px);
  min-height: 850px;
}

.aboutText {
  margin: 14px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.MGMLogo {
  width: 275px;
  height: 275px;
}

.aboutTextBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0;
  padding: 7px 12px;
  min-width: 250px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.aboutTextBoxContainer img {
  width: 30px;
  height: 30px;
}

.aboutTextBox {
  padding: 7px 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7px 0;
  padding: 7px 12px;
}

.guide > h2 {
  margin: 25px 0;
  font-size: 32px;
  text-transform: uppercase;
}

.guideSteps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  max-width: 750px;
}

.guideImage {
  margin: 0 2.5px;
  width: 50%;
  text-align: center;
}

.guideText {
  margin: 0 2.5px;
  width: 50%;
  text-align: center;
}

.guideText > h3 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.guideText > p {
  font-size: 16px;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.guideImage img {
  min-width: 210px;
  min-height: 306px;
  width: 100%;
  max-width: 315px;
  max-height: 460px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .guideText > h3 {
    font-size: 17px;
  }

  .guideText > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .guide h2 {
    margin: 25px 0 0 0;
  }

  .guideSteps {
    flex-direction: column;
  }

  .guideText {
    order: 1;
    width: 100%;
  }

  .guideImage {
    order: 2;
    width: 100%;
  }
}
