<app-header></app-header>
<main>
  <section class="about">
    <p>
      Crea tu portfolio web de forma fácil y dinámica. Cargá tus datos y elegí
      un diseño de portfolio según lo que necesites en un momento determinado,
      pudiendo cambiarlo en todo momento para que más se luzcan tus trabajos o
      la manera en que querés presentarte.
    </p>
  </section>
  <section class="guide">
    <h2>¿Cómo empezar?</h2>
    <div>
      <!-- Step 1 & 2 -->
      <div class="guideSteps">
        <div class="guideImage">
          <img src="../../../assets/image/home/guide-signup.png" alt="" />
        </div>
        <div class="guideText">
          <h3>1. <a routerLink="/signin">Regístrate</a></h3>
          <p>
            Comenzá registrándote <a routerLink="/signin"><b>aquí</b></a
            >.
          </p>
          <h3>2. <a routerLink="/login">Inicia sesión</a></h3>
          <p>
            <a routerLink="/login"><b>Inicia sesión</b></a> para poder acceder a
            tu cuenta.
          </p>
        </div>
      </div>
      <!-- Step 3 & 4 -->
      <div class="guideSteps">
        <div class="guideText">
          <h3>3. Perfil</h3>
          <p>
            Luego de iniciar sesión serás redireccionado a tu perfil. También
            podés acceder a él desde la barra de navegación o el menú que se
            encuentra en la esquina superior derecha.
          </p>
          <h3>4. Cargá tus datos</h3>
          <p>
            Una vez en tu perfil haz clic en la sección en que desees agregar
            tus datos. Se desplegará el menú de la respectiva sección para que
            puedas agregarlos, modificarlos o elminarlos.
          </p>
        </div>
        <div class="guideImage">
          <img src="../../../assets/image/home/guide-profile.png" alt="" />
        </div>
      </div>
      <!-- Step 5 & 6 -->
      <div class="guideSteps">
        <div class="guideImage">
          <img src="../../../assets/image/home/guide-template.png" alt="" />
        </div>
        <div class="guideText">
          <h3>5. Elegí el template para tu portfolio</h3>
          <p>
            Una vez que estén los datos cargados en tu perfil. Elegí el template
            que se adecue a lo que estés buscando, ya sea que quieras
            presentarte para una entrevista, mostrar tus proyectos a un cliente
            o simplemente el que más te guste.
          </p>
          <h3>6. Compartí tu portfolio</h3>
          <p>Compartí el enlace a tu portfolio con quien desees!</p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
