<app-header></app-header>
<main>
  <section class="aboutApp">
    <p class="aboutText" data-aos="zoom-in">
      Create your portfolio easily and dynamically. Load your data and choose a
      portfolio design depending on what you need, being able to change it at
      any time.
    </p>
    <img
      src="../../../assets/logos/logoMMG.png"
      alt="MGMLogo"
      class="MGMLogo"
      data-aos="fade-up"
      data-aos-duration="3000"
    />
    <div>
      <div
        class="aboutTextBoxContainer"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        <img
          src="../../../assets/image/home/profileIcon.png"
          alt="Profile icon"
        />
        <p class="aboutTextBox">Create your profile</p>
        <img
          src="../../../assets/image/home/profileIcon.png"
          alt="Profile icon"
        />
      </div>
      <div
        class="aboutTextBoxContainer"
        data-aos="fade-left"
        data-aos-duration="1500"
      >
        <img
          src="../../../assets/image/home/desingIcon.png"
          alt="Portfolio design icon"
        />
        <p class="aboutTextBox">Choose a desing</p>
        <img
          src="../../../assets/image/home/desingIcon.png"
          alt="Portfolio design icon"
        />
      </div>
      <div
        class="aboutTextBoxContainer"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <img src="../../../assets/image/home/shareIcon.png" alt="Share icon" />
        <p class="aboutTextBox">Share it</p>
        <img src="../../../assets/image/home/shareIcon.png" alt="Share icon" />
      </div>
    </div>
  </section>
  <section class="guide">
    <h2>How to start?</h2>
    <div>
      <!-- Step 1 & 2 -->
      <div class="guideSteps">
        <div class="guideImage">
          <img
            src="../../../assets/image/home/guide-signup.png"
            alt="Representative image of the sign up"
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
          />
        </div>
        <div
          class="guideText"
          data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h3>1. <a routerLink="/signin">Sign up</a></h3>
          <p>
            First sign up <a routerLink="/signin"><b>here</b></a
            >.
          </p>
          <h3>2. <a routerLink="/login">Sign in</a></h3>
          <p>
            <a routerLink="/login"><b>Sign in</b></a> to access your account.
          </p>
        </div>
      </div>
      <!-- Step 3 & 4 -->
      <div class="guideSteps">
        <div
          class="guideText"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h3>3. Profile</h3>
          <p>
            After sign in you will be redirected to your profile. You can also
            access it from the navigation bar or the menu in the upper right
            corner.
          </p>
          <h3>4. Upload your data</h3>
          <p>
            Once in your profile, click on the section where you want to add
            your data. The menu of the respective section will be displayed and
            you will be able to add, modify or delete them.
          </p>
        </div>
        <div
          class="guideImage"
          data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="../../../assets/image/home/guide-profile.png"
            alt="Representative image of the profile sections"
          />
        </div>
      </div>
      <!-- Step 5 & 6 -->
      <div class="guideSteps">
        <div
          class="guideImage"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <img
            src="../../../assets/image/home/guide-template.png"
            alt="Representative image of the portfolio final result"
          />
        </div>
        <div
          class="guideText"
          data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h3>5. Choose the template for your portfolio</h3>
          <p>
            Once the data is loaded in your profile. Choose the template that
            suits what you are looking for, whether you want to present yourself
            for an interview, show your projects to a client or simply the one
            you like the most.
          </p>
          <h3>6. Share your portfolio</h3>
          <p>Share the link to your portfolio with whoever you want!</p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
