<!-- Add Company Modal -->
<div class="modal" *ngIf="showAddCompany">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddCompany()"></i>
    <app-company></app-company>
  </div>
</div>
<!-- Add Experience Form -->
<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Add experience</p>
    <!-- Name input -->
    <input type="text" placeholder="Job title" formControlName="name" />
    <i class="fa fa-briefcase"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *Title is required.
      </p>
    </div>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Job description"
      formControlName="description"
    />
    <i class="fa fa-file-alt"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *Description is required.
      </p>

      <p *ngIf="Description?.hasError('minlength')" class="error">
        *Description must have at least 10 characters.
      </p>
      <p *ngIf="Description?.hasError('maxlength')" class="error">
        *Description can't be longer than 250 characters.
      </p>
    </div>
    <!-- Add Company  -->
    <p class="subNote" (click)="toggleAddCompany()">
      If the company is not on the list, add it
      <i class="fas fa-plus iconNote"></i>
    </p>
    <!-- Company select -->
    <select formControlName="company">
      <option [ngValue]="null" disabled>Select a company</option>
      <option *ngFor="let company of companyList" [ngValue]="company.id">
        {{ company.name }}
      </option>
    </select>
    <i class="fa fa-building"></i>
    <!-- Company validation error -->
    <div *ngIf="Company?.errors && (Company?.touched || Company?.dirty)">
      <p *ngIf="Company?.hasError('required')" class="error">
        *You must select a company.
      </p>
    </div>
    <!-- Start_date input -->
    <input
      type="text"
      placeholder="Start date"
      formControlName="start_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- Start_date validation error -->
    <div
      *ngIf="Start_date?.errors && (Start_date?.touched || Start_date?.dirty)"
    >
      <p *ngIf="Start_date?.hasError('required')" class="error">
        *Start date is required.
      </p>
    </div>
    <!-- End_date input -->
    <input
      type="text"
      placeholder="End date"
      formControlName="end_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- End_date validation error -->
    <div *ngIf="End_date?.errors && (End_date?.touched || End_date?.dirty)">
      <p *ngIf="End_date?.hasError('required')" class="error">
        *End date is required.
      </p>
    </div>
    <!-- isCurrent input -->
    <label>
      <input type="checkbox" class="checkbox" (change)="toggleIsCurrentJob()" />
      Currently working in this role?</label
    >
    <button type="submit">Add</button>
  </form>
</div>
