<app-header></app-header>
<app-main></app-main>
<app-footer></app-footer>

<!-- Template -->
<template id="templateSectionItem">
  <div id="${id}" class="containerSectionItem">
    <img class="logoSection" src="" alt="Logo de la sección" />
    <section class="containerSectionItemData">
      <h3 class="itemTitle"></h3>
      <p class="itemDescription"></p>
      <p class="itemYear textSmall"></p>
      <i
        class="far fa-trash-alt iconDelete setDeleteID"
        onclick="handleDelete('${id}', 'sectionForm${id}')"
      ></i>
      <i
        class="fas fa-pencil-alt iconEdit setFormID"
        onclick="handleForm('sectionForm${id}')"
      ></i>
    </section>
  </div>
  <!-- Section Edit -->
  <div class="hide sectionForm">
    <div class="containerSectionEdit">
      <input
        id="sectionInputTitle${id}"
        class="sectionInputTitle"
        type="text"
        placeholder="Nombre de la institución"
      />
      <textarea
        id="sectionInputText${id}"
        class="sectionInputText"
        type="text"
        placeholder="Nombre de la carrera, tecnicatura, diplomatura, curso, etc."
      ></textarea>
      <input
        id="sectionInputYear${id}"
        class="sectionInputYear"
        type="number"
        placeholder="Año de realización"
      />
      <div>
        <button
          class="setSaveEditID"
          onclick="handleSaveEdit(idTitle='${idTitle}${id}', idText='${idText}${id}', idYear='${idYear}${id}', null, idForm='educationForm${id}', idInputTitle='educationInputTitle${id}', idInputText='educationInputText${id}', idInputText='educationInputYear${id}', null)"
        >
          Editar
        </button>
        <button class="btnCancel" onclick="hideForm('sectionForm${id}')">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</template>
<!-- Script -->
<script src="script.js"></script>
<script src="db.js"></script>
