<!-- Education -->
<div class="containerSection">
  <section
    class="containerSectionData"
    cdkDropList
    (cdkDropListDropped)="onDropped($event)"
  >
    <h2 class="sectionTitle">Educación</h2>
    <i
      class="{{ showForm ? 'fas fa-times iconClose' : 'fas fa-plus iconAdd' }}"
      (click)="toggleForm()"
      >{{ showForm ? " Cerrar formulario " : " Agregar educación " }}</i
    >
    <i class="fas fa-trash iconDeleteSection"></i>
    <app-form-add-education
      *ngIf="showForm"
      (onAddEducation)="addEducation($event)"
    ></app-form-add-education>
    <!-- Education List -->
    <div
      *ngFor="let education of educationList"
      class="containerSectionItem"
      cdkDrag
    >
      <img
        class="logoSection"
        [src]="education.logo"
        alt="Logo de la sección"
      />
      <section class="containerSectionItemData">
        <h3>{{ education.title }}</h3>
        <p>{{ education.description }}</p>
        <p class="textSmall">{{ education.year }}</p>
        <i class="fas fa-trash iconDelete" (click)="deleteItem(education)"></i>
        <i class="fas fa-pencil-alt iconEdit"></i>
      </section>
    </div>
  </section>
</div>
