<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Crear idioma</p>
    <p class="subTitle">
      Crea un idioma que no esté disponible en la función agregar
      <i class="fas fa-plus iconAddTechToPerson"></i>
    </p>
    <!-- Name input -->
    <input type="text" placeholder="Idioma" formControlName="name" />
    <i class="fa fa-plus-circle"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *El idioma es requerido.
      </p>
    </div>
    <button type="submit">Crear</button>
  </form>
</div>
