<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Modificar imagen de perfil</p>
    <!-- Profile_photo input -->
    <input
      type="text"
      accept=".png, .jpg, .jpeg"
      (change)="uploadPhoto($event)"
      placeholder="Imagen de perfil"
      class="inputLogo"
      formControlName="profile_photo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <!-- Profile_photo validation error -->
    <div
      *ngIf="
        Profile_photo?.errors &&
        (Profile_photo?.touched || Profile_photo?.dirty)
      "
    >
      <p *ngIf="Profile_photo?.hasError('required')" class="error">
        *La imagen de perfil es requerida.
      </p>
    </div>
    <button type="submit">Modificar</button>
  </form>
</div>
