<div class="templateContainer">
  <!-- Header -->
  <header>
    <div class="headerContainer">
      <div class="logoContainer">
        <a href="#" target="_blank">
          <p class="logoFirstName">{{ person.first_name }}</p>
          <p class="logoLastName">{{ person.last_name }}</p>
        </a>
      </div>
      <div class="socials">
        <div class="separator"></div>
        <ul>
          <li>
            <a [href]="socials.linkedin" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a [href]="socials.github" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a (click)="onClick('contact')"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
        <div class="separatorAnimated"></div>
      </div>
    </div>
    <app-menu class="menu-wrap"></app-menu>
  </header>

  <!-- About -->
  <section class="aboutSection">
    <figure class="about">
      <img
        class="aboutBgImg"
        [src]="person.cover_photo === null ? cover_photo : person.cover_photo"
        alt="About background image"
      />
      <figcaption (click)="toggleAbout()" *ngIf="showAboutImage">
        <div class="aboutImage">
          <img
            [src]="
              person.profile_photo === null
                ? profile_photo
                : person.profile_photo
            "
            alt="About image"
          />
        </div>
        <h2>
          {{ person.first_name }} <span>{{ person.last_name }}</span>
        </h2>
      </figcaption>
      <figcaption
        (click)="toggleAbout()"
        *ngIf="showAboutText"
        class="aboutText"
      >
        <h3>
          {{ aboutTypeWriter }}
        </h3>
      </figcaption>
    </figure>
  </section>

  <!-- Projects -->
  <section class="projectsSection">
    <div class="divider"></div>
    <h2 class="sectionTitle">Projects</h2>
    <div class="projectsContainer">
      <figure class="project" *ngFor="let project of projectList">
        <img
          src="../../../../assets/image/template/mountain.jpg"
          alt="Project Image"
        />
        <figcaption>
          <p class="projectDescription">
            <span>{{ project.description }}</span>
          </p>
          <h2>{{ project.name }}</h2>
          <div class="icons">
            <a [href]="project.deploy" target="_blank"
              ><i class="fas fa-rocket"></i></a
            ><a [href]="project.repository" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>

  <!-- Skills  -->
  <section class="skillsSection">
    <div class="divider"></div>
    <!-- Technology -->
    <h2 class="sectionTitle">Technologies</h2>
    <!-- Technology  Filter-->
    <div class="filterTechnologiesContainer">
      <button class="btnFilter" (click)="filter('all')">All</button>
      <button class="btnFilter" (click)="filter('front-end')">Front End</button>
      <button class="btnFilter" (click)="filter('back-end')">Back End</button>
      <button class="btnFilter" (click)="filter('mobile')">Mobile</button>
      <button class="btnFilter" (click)="filter('data-base')">Database</button>
      <button class="btnFilter" (click)="filter('svc')">Version control</button>
      <button class="btnFilter" (click)="filter('hosting')">Hosting</button>
      <button class="btnFilter" (click)="filter('editing')">Editing</button>
      <button class="btnFilter" (click)="filter('other')">Others</button>
    </div>
    <!-- Technology List -->
    <div class="technologiesContainer">
      <figure
        *ngFor="let technology of filterCategory"
        class="technologyItemContainer"
      >
        <a [href]="technology.url" target="_blank">
          <img
            class="technologyLogo"
            [src]="technology.logo"
            alt="Logo de la Tecnología"
          />
        </a>
        <figcaption>
          {{ technology.name }}
        </figcaption>
      </figure>
    </div>
  </section>

  <section id="contact" class="contactSection">
    <div class="divider"></div>
    <h2 class="sectionTitle">Contact</h2>
    <form
      [formGroup]="form"
      action="https://formsubmit.co/ghirardi.maxi@gmail.com"
      method="POST"
    >
      <input
        type="hidden"
        name="_next"
        value="https://yourdomain.co/thanks.html"
      />
      <input type="hidden" name="_subject" value="Portfolio contact email" />
      <!-- Input name -->
      <input
        type="text"
        name="name"
        placeholder=" Nombre"
        formControlName="name"
        required
      />
      <i class="fa fa-person"></i>
      <!-- Name validation error -->
      <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
        <p *ngIf="Name?.hasError('required')" class="error">
          *Your name is required.
        </p>
      </div>
      <!-- Input email -->
      <input
        type="email"
        name="email"
        placeholder=" Correo electrónico"
        formControlName="email"
        required
      />
      <i class="fa fa-envelope"></i>
      <!-- Email validation error -->
      <div *ngIf="Email?.errors && (Email?.touched || Email?.dirty)">
        <p *ngIf="Email?.hasError('required')" class="error">
          *Your email is required.
        </p>
        <p *ngIf="Email?.hasError('email')" class="error">
          *Your email must be valid.
        </p>
      </div>
      <textarea
        class="textarea"
        type="text"
        name="message"
        placeholder=" Escribe un mensaje"
        formControlName="message"
        required
      ></textarea>
      <i class="fa fa-message"></i>
      <!-- Message validation error -->
      <div *ngIf="Message?.errors && (Message?.touched || Message?.dirty)">
        <p *ngIf="Message?.hasError('required')" class="error">
          *You must write a message.
        </p>
        <p *ngIf="Message?.hasError('minlength')" class="error">
          *You must write a message of at least 10 characters.
        </p>
      </div>
      <button class="btn btnHorizontalEffect" type="submit">Send</button>
    </form>
  </section>

  <!-- Footer -->
  <!--  <footer>
    <div class="divider"></div>
  </footer> -->
</div>
