<div class="containerFormAdd">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Agregar nueva educación</p>
    <!-- Title input -->
    <input
      type="text"
      placeholder="Nombre de la institución"
      formControlName="title"
      autofocus
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Title validation error -->
    <div *ngIf="Title?.errors && (Title?.touched || Title?.dirty)">
      <p *ngIf="Title?.hasError('required')" class="error">
        *El nombre de la institución es requerido.
      </p>
    </div>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Descripción del estudio"
      formControlName="description"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *La descripción es requerida.
      </p>
    </div>
    <!-- Year input -->
    <input
      type="number"
      placeholder="Año de realización"
      formControlName="year"
    />
    <i class="fa fa-plus-circle"></i>
    <!-- Year validation error -->
    <div *ngIf="Year?.errors && (Year?.touched || Year?.dirty)">
      <p *ngIf="Year?.hasError('required')" class="error">
        *El año es requerido.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="file"
      placeholder="Logo de la institución"
      formControlName="logo"
      class="inputLogo"
    />
    <button type="submit">Agregar</button>
  </form>
</div>
