<div class="containerSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Agregar Tecnologías</h2>
    <p class="subTitle">
      <i
        class="fas fa-plus iconAddTechnologyToPerson"
        style="
          width: 20px;
          height: 20px;
          font-size: 10px;
          display: inline-block;
        "
      ></i>
      Agrega una tecnología a tu cuenta.
    </p>
    <p class="subTitle">
      <i
        class="fas fa-trash iconDeleteTechnology"
        style="
          width: 20px;
          height: 20px;
          font-size: 10px;
          display: inline-block;
        "
      ></i>
      Elimina una tecnología permanentemente.
    </p>

    <!-- Technology List -->
    <div class="containerTechnology">
      <figure
        *ngFor="let technology of technologyList"
        class="containerTechnologyItem"
      >
        <a [href]="technology.url" target="_blank">
          <img
            class="logoTechnology"
            [src]="technology.logo"
            alt="Logo de la tecnología"
          />
        </a>
        <figcaption>
          {{ technology.name }}
          <div class="iconsTechnologyContainer">
            <i
              class="fas fa-plus iconAddTechnologyToPerson"
              (click)="addTechnologyToPerson(technology)"
            ></i>
            <i
              class="fas fa-trash iconDeleteTechnology"
              (click)="deleteTechnology(technology)"
            ></i>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
