<!-- Add Technology Modal -->
<div class="modal" *ngIf="showAddForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddForm()"></i>
    <app-form-add-technology
      (onAddTechnology)="addTechnology($event)"
    ></app-form-add-technology>
  </div>
</div>
<!-- Add Technology To Person Modal -->
<div class="modal" *ngIf="showAddTechToPersonForm">
  <div class="containerFormAdd">
    <i
      class="fas fa-times iconClose iconCloseModalAddTechnology"
      (click)="toggleAddTechToPersonForm()"
    ></i>
    <app-add-technology-to-person
      (onAddTechToPerson)="addTechToPerson($event)"
    ></app-add-technology-to-person>
  </div>
</div>
<!-- Technology -->
<div class="containerSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Technologies</h2>
    <div>
      <button class="btnFilter" (click)="filter('all')">All</button>
      <button class="btnFilter" (click)="filter('front-end')">Front End</button>
      <button class="btnFilter" (click)="filter('back-end')">Back End</button>
      <button class="btnFilter" (click)="filter('mobile')">Mobile</button>
      <button class="btnFilter" (click)="filter('data-base')">Database</button>
      <button class="btnFilter" (click)="filter('vcs')">Version control</button>
      <button class="btnFilter" (click)="filter('hosting')">Hosting</button>
      <button class="btnFilter" (click)="filter('editing')">Editing</button>
      <button class="btnFilter" (click)="filter('other')">Others</button>
    </div>
    <button class="btnCreate" (click)="toggleAddForm()" *ngIf="isAdmin">
      Create
    </button>
    <i
      class="fas fa-plus iconAdd"
      (click)="toggleAddTechToPersonForm()"
      *ngIf="isAdmin"
    ></i>
    <i
      class="fas fa-trash iconDeleteSection"
      (click)="deleteAllTechnologiesFromPerson()"
      *ngIf="isAdmin"
    ></i>
    <!-- Technology List -->

    <div class="containerTechnology">
      <figure
        *ngFor="let technology of filterCategory"
        class="containerTechnologyItem"
      >
        <a [href]="technology.url" target="_blank">
          <img
            class="logoTechnology"
            [src]="
              technology.logo === null ||
              technology.logo === undefined ||
              !technology.logo.trim()
                ? technology_logo
                : technology.logo
            "
            alt="Technology logo"
          />
        </a>
        <figcaption>
          {{ technology.name }}
          <i
            class="fas fa-trash"
            (click)="deleteTechnologyOfPerson(technology)"
            *ngIf="isAdmin"
          ></i>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
