.containerTechnology {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerTechnologyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 2px;
  width: 80px;
}

.logoTechnology {
  height: 50px;
  width: 50px;
  scale: 1;
  transition: all 0.3s ease;
}

.logoTechnology:hover {
  height: 50px;
  width: 50px;
  scale: 1.1;
  cursor: pointer;
}

figure {
  overflow-wrap: anywhere;
}

figcaption {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 14px;
}

figcaption i {
  display: block;
  margin: 5px 0 0 0;
  color: #e50914;
}

.iconCloseModalAddTech {
  top: 8px;
  right: 42px;
}
