.containerTechnologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerTechnologieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 2px;
  width: 80px;
}

.logoTechnologie {
  height: 50px;
  width: 50px;
  scale: 1;
  transition: all 0.3s ease;
}

.logoTechnologie:hover {
  height: 50px;
  width: 50px;
  scale: 1.1;
  cursor: pointer;
}

figcaption {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 14px;
}

figcaption i {
  display: block;
  margin: 5px 0 0 0;
  color: #e50914;
}
