<app-header></app-header>
<main>
  <app-profile-header
    (onToggleAbout)="toggleAbout()"
    (onToggleExperience)="toggleExperience()"
    (onToggleEducation)="toggleEducation()"
    (onToggleProject)="toggleProject()"
    (onToggleLanguage)="toggleLanguage()"
    (onToggleTechnology)="toggleTechnology()"
  ></app-profile-header>
  <app-profile-about *ngIf="showAbout"></app-profile-about>
  <app-profile-experience *ngIf="showExperience"></app-profile-experience>
  <app-profile-education *ngIf="showEducation"></app-profile-education>
  <app-profile-project *ngIf="showProject"></app-profile-project>
  <app-profile-language *ngIf="showLanguage"></app-profile-language>
  <app-profile-technology *ngIf="showTechnology"></app-profile-technology>
</main>
<app-footer></app-footer>
