<!-- Add Language Modal -->
<div class="modal" *ngIf="showForm">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleForm()"></i>
    <app-form-add-language
      (onAddLanguage)="addLanguage($event)"
    ></app-form-add-language>
  </div>
</div>
<!-- Languages -->
<div class="containerSection">
  <section class="containerSectionData">
    <h2 class="sectionTitle">Idiomas</h2>
    <i class="fas fa-plus iconAdd" (click)="toggleForm()"></i>
    <i class="fas fa-trash iconDeleteSection"></i>
    <!-- Languages List -->
    <div *ngFor="let language of languagesList" class="containerSectionItem">
      <section class="containerSectionItemData">
        <h3>
          {{ language.title }}
        </h3>
        <p class="languageLevel">{{ language.level }}</p>
        <i class="fas fa-trash iconDelete" (click)="deleteItem(language)"></i>
        <i class="fas fa-pencil-alt iconEdit"></i>
      </section>
    </div>
  </section>
</div>
