@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: papayawhip;
  font-family: "Montserrat", sans-serif;
}

/* Header */

header {
  height: 50px;
  background-color: #000;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header.containerHeader > nav > ul {
  margin: 0 10px 0 0;
}

header.containerHeader > nav > ul > li {
  display: inline-block;
  margin: 0 2.5px;
  list-style-type: none;
}
header.containerHeader > nav > ul > li:active {
  background-color: rgb(0, 0, 0);
}

nav > ul > li > button {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255, 0.4);
}

nav > ul > li > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav > ul > li:active > button:active {
  background-color: rgb(0, 0, 0);
}

nav > ul > li > a > i {
  transition: all 0.3s ease;
}

nav > ul > li > a > i:hover {
  transform: rotate(18deg);
}

/* Main */

.containerMain {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.developer {
  margin: 0 10px 0 0;
  font-size: 12px;
}

/* Global */

h2 {
  margin: 5px 0;
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 5px 0;
  font-size: 14px;
  word-wrap: break-Word;
}

i {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

i:hover {
  opacity: 0.6;
}

i:active {
  opacity: 1;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited,
a:hover,
a:active {
  color: rgb(0, 0, 0, 0.6);
}

input {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 5px;
  height: 30px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000;
  word-wrap: break-Word;
}

textarea {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 5px;
  min-height: 30px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #000;
  word-wrap: break-Word;
}

button {
  display: inline-block;
  padding: 10px 14px;
  min-width: 75px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: cornflowerblue;
  cursor: pointer;
}

button:hover {
  background-color: rgb(61, 112, 207);
  transition: all 0.3s ease;
}

button:active {
  background-color: cornflowerblue;
}

.btnCancel {
  background-color: rgba(163, 163, 163);
}

.btnCancel:hover {
  background-color: rgb(99, 99, 99);
  transition: all 0.3s ease;
}

.textSmall {
  font-size: 11px;
}

.iconEdit {
  position: absolute;
  right: 40px;
  top: 0px;
  color: rgb(0, 0, 0, 0.8);
}

.iconAdd {
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgba(23, 99, 0, 0.6);
}

.iconDelete,
.iconEditAbout {
  position: absolute;
  right: 10px;
  top: 0px;
  color: rgb(255, 0, 0, 0.8);
}
.iconEditAbout {
  color: rgb(0, 0, 0, 0.8);
  top: 5px;
}

.hide {
  display: none;
  width: 100%;
}

/* Person Profile */

.containerPerson {
  margin: 0 0 10px 0;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.containerPersonCover {
  margin: 0 0 70px 0;
  position: relative;
}

.imgCover {
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.imgPerson {
  position: absolute;
  bottom: -65px;
  left: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0, 0.6);
  border-radius: 150px;
}

.iconEditPerson {
  position: absolute;
  bottom: -60px;
  left: 165px;
  color: #000;
}

.containerPersonData {
  margin: 0 0 5px 5px;
  padding: 0 0 10px 10px;
}

/* About */

.containerAbout {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.containerAboutData {
  margin: 0 0 5px 5px;
  position: relative;
}

.containerAboutEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
  width: 100%;
  height: 100%;
}

/* Education, Experience and Projects */
.containerSection,
.containerEducation,
.containerExperience,
.containerProject {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.containerSectionData,
.containerEducationData,
.containerExperienceData,
.containerProjectData {
  margin: 0 0 5px 5px;
  position: relative;
}

.containerSectionItem,
.containerEducationItem,
.containerExperienceItem,
.containerProjectItem {
  display: flex;
  margin-top: 10px;
}

.containerSectionItemData,
.containerEducationItemData,
.containerExperienceItemData,
.containerProjectItemData {
  padding: 0 65px 0 0;
  position: relative;
  width: 100%;
}

.logoSection,
.logoEducation,
.logoExperience,
.logoProject {
  margin: 0 10px 0 0;
  height: 75px;
  width: 75px;
}

.containerSectionEdit,
.containerEducationEdit,
.containerExperienceEdit,
.containerProjectEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
  width: 100%;
  height: 100%;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .containerMain {
    width: 748px;
  }
}
