<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Add project</p>
    <!-- Name input -->
    <input type="text" placeholder="Project name" formControlName="name" />
    <i class="fa fa-plus-circle"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *Project name is required.
      </p>
    </div>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Project description"
      formControlName="description"
    />
    <i class="fa fa-file-alt"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *Description is required.
      </p>
      <p *ngIf="Description?.hasError('minlength')" class="error">
        *Description must have at least 10 characters.
      </p>
      <p *ngIf="Description?.hasError('maxlength')" class="error">
        *Description can't be longer than 250 characters.
      </p>
    </div>
    <!-- Repository input -->
    <input
      type="text"
      placeholder="Link to repository"
      formControlName="repository"
    />
    <i class="fa fa-link"></i>
    <!-- Deploy input -->
    <input type="text" placeholder="Link to deploy" formControlName="deploy" />
    <i class="fa fa-link"></i>
    <!-- End_date input -->
    <input
      type="text"
      placeholder="End date"
      formControlName="end_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- End_date validation error -->
    <div *ngIf="End_date?.errors && (End_date?.touched || End_date?.dirty)">
      <p *ngIf="End_date?.hasError('required')" class="error">
        *End date is required.
      </p>
    </div>
    <!-- Logo input -->
    <input
      type="text"
      placeholder="Add the project logo"
      formControlName="logo"
      class="inputLogo"
      onfocus="(this.type='file')"
    />
    <i class="fa fa-file-image"></i>
    <button type="submit">Add</button>
  </form>
</div>
