/* Profile header */

.containerProfileHeader {
  margin: 0 0 10px 0;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.containerProfileHeader:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerProfileHeaderCover {
  position: relative;
  margin: 0 0 70px 0;
  min-height: 300px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(240, 248, 255, 0.6);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 25px;
  border-radius: 0 5px;
  background-color: rgb(255, 255, 255);
}

.socials > li > a > i {
  margin: 0 2.5px;
  color: #000;
}

.imgCover {
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.iconEditCoverPhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditCoverPhotoContainer:hover {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.8);
}

.iconEditCoverPhotoContainer > p,
.iconEditCoverPhotoContainer > p > i {
  font-size: 18px;
  letter-spacing: 0.05rem;
  color: #fff;
}

.imgProfileHeader {
  position: absolute;
  bottom: -65px;
  left: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0, 0.6);
  border-radius: 150px;
  background-color: aliceblue;
}

.iconEditProfilePhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -65px;
  left: 5px;
  width: 150px;
  height: 150px;
  background-color: rgb(121, 0, 0);
  border-radius: 150px;
  opacity: 0;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditProfilePhotoContainer:hover {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.8);
}

.iconEditProfilePhotoContainer > p,
.iconEditProfilePhotoContainer > p > i {
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.015rem;
  color: #fff;
}

.iconEditProfileHeaderContainer {
  position: absolute;
  bottom: -30px;
  left: 165px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditProfileHeaderContainer:hover {
  color: rgb(0, 0, 0, 0.6);
}

.iconEditProfileHeader {
  color: #000;
}

.iconEditProfilePhoto {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
}

.iconEditProfileSocialContainer {
  position: absolute;
  bottom: -60px;
  left: 165px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditProfileSocialContainer:hover {
  color: rgb(0, 0, 0, 0.6);
}

.iconEditProfileSocial {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
}

.containerProfileHeaderData {
  margin: 0 0 5px 5px;
  padding: 0 0 10px 10px;
}

button {
  margin: 5px 5px;
}
