/* Profile header */

.containerProfileHeader {
  margin: 0 0 10px 0;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.containerProfileHeader:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerProfileHeaderCover {
  margin: 0 0 70px 0;
  position: relative;
  min-height: 300px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(240, 248, 255, 0.6);
}

.imgCover {
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.imgProfileHeader {
  position: absolute;
  bottom: -65px;
  left: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0, 0.6);
  border-radius: 150px;
  background-color: aliceblue;
}

.iconEditProfileHeaderContainer {
  position: absolute;
  bottom: -60px;
  left: 165px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditProfileHeaderContainer:hover {
  color: rgb(0, 0, 0, 0.6);
}

.iconEditProfileHeader {
  color: #000;
}

.iconEditProfilePhotoContainer {
  position: absolute;
  bottom: -30px;
  left: 165px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconEditProfilePhotoContainer:hover {
  color: rgb(0, 0, 0, 0.6);
}

.iconEditProfilePhoto {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
}

.containerProfileHeaderData {
  margin: 0 0 5px 5px;
  padding: 0 0 10px 10px;
}

button {
  margin: 0 5px 0 0;
}
