<!-- Person Profile -->
<div class="containerPerson">
  <div class="containerPersonCover">
    <img
      class="imgCover"
      src="assets/bgCover.jpg"
      alt="Background of person profile"
    />
    <img
      class="imgPerson"
      src="assets/profilePerson.jpg"
      alt="Image of person profile"
    />
    <i class="fas fa-user-edit iconEditPerson" s></i>
  </div>
  <section class="containerPersonData">
    <h2>Maximiliano</h2>
    <p>Desarrollador Web Full Stack</p>
    <button active>Intereses</button>
    <button>Añadir sección</button>
    <button>Más</button>
  </section>
</div>
