<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Agregar idioma</p>
    <!-- Title input -->
    <input type="text" placeholder="Idioma" formControlName="title" />
    <i class="fa fa-plus-circle"></i>
    <!-- Title validation error -->
    <div *ngIf="Title?.errors && (Title?.touched || Title?.dirty)">
      <p *ngIf="Title?.hasError('required')" class="error">
        *El idioma es requerido.
      </p>
    </div>
    <!-- Level input -->
    <input type="text" placeholder="Nivel del idioma" formControlName="level" />
    <i class="fa fa-plus-circle"></i>
    <!-- Level validation error -->
    <div *ngIf="Level?.errors && (Level?.touched || Level?.dirty)">
      <p *ngIf="Level?.hasError('required')" class="error">
        *El nivel es requerido.
      </p>
    </div>
    <button type="submit">Agregar</button>
  </form>
</div>
