<!-- Add School Modal -->
<div class="modal" *ngIf="showAddSchool">
  <div class="containerFormAdd">
    <i class="fas fa-times iconClose" (click)="toggleAddSchool()"></i>
    <app-school></app-school>
  </div>
</div>
<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Update education</p>
    <!-- Name input -->
    <input
      type="text"
      placeholder="Academic discipline name"
      formControlName="name"
    />
    <i class="fa fa-graduation-cap"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">*Name is required.</p>
    </div>
    <!-- Description input -->
    <input
      type="text"
      placeholder="Academic discipline description"
      formControlName="description"
    />
    <i class="fa fa-file-alt"></i>
    <!-- Description validation error -->
    <div
      *ngIf="
        Description?.errors && (Description?.touched || Description?.dirty)
      "
    >
      <p *ngIf="Description?.hasError('required')" class="error">
        *Description is required.
      </p>
      <p *ngIf="Description?.hasError('minlength')" class="error">
        *Description must have at least 10 characters.
      </p>
      <p *ngIf="Description?.hasError('maxlength')" class="error">
        *Description can't be longer than 250 characters.
      </p>
    </div>
    <!-- Add School  -->
    <p class="subTitle" (click)="toggleAddSchool()">
      If the institution is not on the list, add it
      <i class="fas fa-plus iconNote"></i>
    </p>
    <!-- School select -->
    <select formControlName="school">
      <option [ngValue]="null" disabled>Select an institution</option>
      <option *ngFor="let school of schoolList" [ngValue]="school.id">
        {{ school.name }}
      </option>
    </select>
    <i class="fa fa-university"></i>
    <!-- School validation error -->
    <div *ngIf="School?.errors && (School?.touched || School?.dirty)">
      <p *ngIf="School?.hasError('required')" class="error">
        *You must select an institution.
      </p>
    </div>
    <!-- Start_date input -->
    <input
      type="text"
      placeholder="Start date"
      formControlName="start_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- Start_date validation error -->
    <div
      *ngIf="Start_date?.errors && (Start_date?.touched || Start_date?.dirty)"
    >
      <p *ngIf="Start_date?.hasError('required')" class="error">
        *Start date is required.
      </p>
    </div>
    <!-- End_date input -->
    <input
      type="text"
      placeholder="End date"
      formControlName="end_date"
      onfocus="(this.type='date')"
    />
    <i class="fa fa-calendar-alt"></i>
    <!-- End_date validation error -->
    <div *ngIf="End_date?.errors && (End_date?.touched || End_date?.dirty)">
      <p *ngIf="End_date?.hasError('required')" class="error">
        *End date is required.
      </p>
    </div>
    <button type="submit">Update</button>
  </form>
</div>
