<div class="containerForm">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <p class="title">Create language</p>
    <p class="subTitle">
      Create a language that is not available in the add function
      <i class="fas fa-plus iconAddLanguageToPerson"></i>
    </p>
    <!-- Name input -->
    <input type="text" placeholder="Language" formControlName="name" />
    <i class="fa fa-globe-americas"></i>
    <!-- Name validation error -->
    <div *ngIf="Name?.errors && (Name?.touched || Name?.dirty)">
      <p *ngIf="Name?.hasError('required')" class="error">
        *Language is required.
      </p>
    </div>
    <button type="submit">Create</button>
  </form>
</div>
